
.YouthResponsive{
  width: 100%;
  text-align: center;
}
.YouthResponsiveFull{
  display: table;
}

.YouthPrimary {
  padding: 35px;
  color: #ead904;
  text-align: center;
}
.YouthHr {
  border-top: 1px solid#ead904;
  width: 35%;
}

.Youthreding{
  height: 25%;
  border: 2px solid #40a4c8;
  color: rgb(40, 40, 40);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 50px;
}
.Youthtitle{
  height: 70px;
}
.newsReadMoreButton {
  border: 2px solid #40a4c8;
  color: rgb(40, 40, 40);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0;
  transition-duration: 0.4s;
  cursor: pointer;
}

.newsReadMoreButton:hover {
  background-color: #40a4c8;
  color: rgb(190, 171, 171);
  text-decoration: none;
}

@media (max-width: 500px) {
  .Youth {
    margin: 0;
    width: 100%;
  }
  .YouthResponsive {
    display: block;
    width: 100%; 
  }
  .Youth:hover{
    width: 100%;
  }
  .Youthimgtop{
    width: 100%;
  }
  .YouthPrimary{
    width: 100%;
  }
  .YouthHr{
    width: 100%;
  }
}
