
<!DOCTYPE html>
<html lang="en">

<head>
  <title>W3.CSS Template</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta property="og:title" content="Оролцоотой залуу мөн үү ?">
  <meta property="og:description" content="Идэвх муутай, оролцоогүй залуу">
  <meta property="og:image" content="http://103.119.92.91:3050/shat1.png">
  <meta property="og:url" content="103.119.92.94">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      /* background-color: #6d5ca8; */
    }

    .mySlides {
      display: none
    }

    #clip {
      /* clip: rect(0, 40px, 100%, 0); */
      clip-path: inset(30px 27px 89px 27px);
      /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    }
  </style>
</head>

<body>
  <div class="w3-center" style="min-width: 380px;">
    <img src="http://103.119.92.91:3050/shat1.png" id="clip" style="max-width: 3800px;min-width: 380px; width: 40%;">
  </div>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h3 class="w3-wide">“Түнэр харанхуйг зүхэн суухаар нэг ч гэсэн лаа асаа”</h3>
    <p class="w3-justify">Олон зүйл дээр та энэ үгийг сонсож байсан байх.  Чиний сургалтын төлбөрийн өсөлт болон гар утасны дата чинь ямар үнэтэй байхад санаа зовж байсан уу? Эсвэл төрийн үйлчилгээ чанаргүй байна, ЖДҮ-чид хэтэрлээ гэж гомдоллохоос өөр юу хийж байсан бэ? Эдгээрийг өөрчлөх хүч танд байгаа гэж харж байсан уу? Юм юмнаас хойш сууж “төрийн төлөө оготно боож үхэх вий” гэж болохгүй шүү. Энэ аль өнгөрсөн, баларсан үеийн хандлага, шинэ үеийн залуус идэвхтэй, оролцоотой байснаараа энэ нийгмээ манлайлж өөрөө ч хөгжинө. Оролцох, өөрчлөх, шинэчлэх боломж ардчилсан нийгэмд олон байгаа тул яг одооноос хэрхэн оролцох талаар бодож эхлээрэй.Залуу хүн та сонгуульдаа идэвхтэй оролцож, нийгмийн хөгжлийн төлөө сайн дурын ажил хийж, сургуульдаа, сумандаа, хороондоо асуудал шийдвэрлэхэд хойш суухгүйгээр нийгэмдээ идэвхтэй оролцох тусам бидний амьдарч буй нийгмийн асуудал цэгцэрч, төрийн үйл ажиллагаа сайжран, та өөрөө ч бас хөгжиж байдаг. 
      Өнөөдрийг хүртэл чи оролцож чадаагүй бол  маргаашнаас оролцох гээд үзээрэй. Боломж чамайг хүлээсээр байгаа шүү. </p>
    <p class="w3-justify" style="margin-top: 30px;">Ирээдүйд идэвхтэй, оролцоотой залуу хүн болох 7 алхам бий. Хичээгээрэй.  Амжилт хүсье найз минь. Оролцоо сайт оройд нь гэдэг шүү. </p>
    </div>

</body>

</html>