
<!DOCTYPE html>
<html lang="en">

<head>
  <title>W3.CSS Template</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta property="og:title" content="Оролцоотой залуу мөн үү ?">
  <meta property="og:description" content="Идэвхтэй, гэхдээ өөрийгөө голдог залуу">
  <meta property="og:image" content="http://103.119.92.91:3050/shat5.png">
  <meta property="og:url" content="103.119.92.94">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      /* background-color: #6d5ca8; */
    }

    .mySlides {
      display: none
    }

    #clip {
      /* clip: rect(0, 40px, 100%, 0); */
      clip-path: inset(30px 27px 89px 27px);
      /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    }
  </style>
</head>

<body>
  <div class="w3-center" style="min-width: 380px;">
    <img src="http://103.119.92.91:3050/shat5.png" id="clip" style="max-width: 3800px;min-width: 380px; width: 40%;">
  </div>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h3 class="w3-wide">“Өөрчлөлтийн хаалгыг дотроос нь онгойлгодог “</h3>
    <p class="w3-justify">Хичээл зүтгэлийнхээ үр шимийг хүртэхийн тулд тууштай байдал чамайг багагүй сорьж болох юм. Чиний харсан шийдлийг чамаас өөр хэн ч чам шиг хараагүй байж магадгүй тул асуудал олж харсан бол шийдлийг нь санал болгож байгаарай. Нийгэмдээ идэвх, оролцоотой байхын сайхныг улам бүр мэдэрч, илүү үр дүнд хүрэхийн тулд өөрийнхөө бодолд үнэнч байгаарай, мэдээллийн эх сурвалжаа нягталж, оролцооны болон улс төрийн талаарх мэдлэгээ зузаатгаарай. Өөрөө идэвхтэй оролцоод ч эерэг үр дүн чамд хараахан мэдэгдэхгүй байвал бусдыг идэвхтэй оролцуулах арга техниктээ өөрчлөлт хийж, бусдаас суралцах боломжийг битгий алдаарай. Өөрчлөлтийн хаалга дотроосоо онгойдог тул бие биеэ мэдэрч ойлгон баг болж ажилллаж чаддаг хамтран зүтгэгч нартай болоод оролдлогоо дахин үргэлжлүүлээд байгаарай.</p>
    <p class="w3-justify" style="margin-top: 30px;">Ирээдүйд идэвхтэй оролцоотой залуу хүн болоход 3-хан алхам үлджээ. Хичээгээд байгаарай найз минь. Амжилт хүсье.</p>
    </div>

</body>

</html>