
<!DOCTYPE html>
<html lang="en">

<head>
  <title>W3.CSS Template</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta property="og:title" content="Оролцоотой залуу мөн үү ?">
  <meta property="og:description" content="Эерэг өөрчлөлтийг аврагч, ирээдүйтэй залуу">
  <meta property="og:image" content="http://103.119.92.91:3050/shat8.png">
  <meta property="og:url" content="103.119.92.94">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      /* background-color: #6d5ca8; */
    }

    .mySlides {
      display: none
    }

    #clip {
      /* clip: rect(0, 40px, 100%, 0); */
      clip-path: inset(30px 27px 89px 27px);
      /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    }
  </style>
</head>

<body>
  <div class="w3-center" style="min-width: 380px;">
    <img src="http://103.119.92.91:3050/shat8.png" id="clip" style="max-width: 3800px;min-width: 380px; width: 40%;">
  </div>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h3 class="w3-wide">Чи “Улс төрийн амьтан” биш “Улс төрийн хүн” болох гараан дээр зогсож байна.</h3>
    <p class="w3-justify">Төрөөс гаргасан аливаа шийдвэр бодлого үйл ажиллагааг идэвхгүйгээр хүлээн зөвшөөрч аялдан
      дагалдах биш өөрийн идэвхтэй оролцооны үр дүнд өөрчлөлтийг авчирч, шийдвэрт нөлөөлж чаддаг бие хүн бол “Улс төрийн
      хүн” юм. Өөрийн болон бусдынхаа эрх ашгийг дээдлэн ямагт шударга ёсыг луужингаа болгож үзэл бодол, үйл хэргээ
      чиглүүлж ирсэн чам шиг олон залуус ардчилсан нийгмийн гол тулгуур билээ. Цаашид иргэдийн төлөөлөгч байх эсвэл улс
      төрийн шийдвэр гаргах түвшинд бие даан нэрээ дэвшүүлэн сонгогдох боломж өөрт тань байна. Өөрчлөлт шинэчлэлтийн
      өртөөлөгч байх үйлсэд чинь амжилт хүсье.</p>
    <p class="w3-justify" style="margin-top: 30px;">Идэвхтэй оролцоотой иргэн хүн байх тууштай алхамууд хүлээж байна.
      Хичээгээрэй. Чамд амжилт хүсье.</p>
    </div>

</body>

</html>