
<!DOCTYPE html>
<html lang="en">

<head>
  <title>W3.CSS Template</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta property="og:title" content="Оролцоотой залуу мөн үү ?">
  <meta property="og:description" content="Шинийг санаачлагч, мэдээлэл сайтай залуу">
  <meta property="og:image" content="http://103.119.92.91:3050/shat6.png">
  <meta property="og:url" content="103.119.92.94">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      /* background-color: #6d5ca8; */
    }

    .mySlides {
      display: none
    }

    #clip {
      /* clip: rect(0, 40px, 100%, 0); */
      clip-path: inset(30px 27px 89px 27px);
      /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    }
  </style>
</head>

<body>
  <div class="w3-center" style="min-width: 380px;">
    <img src="http://103.119.92.91:3050/shat6.png" id="clip" style="max-width: 3800px;min-width: 380px; width: 40%;">
  </div>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h3 class="w3-wide">Гэртээ харих замаа гэрэлтэй болгож бид чадна.</h3>
    <p class="w3-justify">Монгол улсын төсвийн тухай хуулийн 60 дугаар зүйл “Орон нутгийн хөгжлийн сангийн тухай” хуульд зааснаар улсын төсвөөс орон нутагт хувиарлагдсан хөрөнгийг захиран зарцуулах ажлыг олон нийтийн оролцоонд тулгуурлан зарцуулахаар тусгасан. 
      Өглөө, оройдоо гэртээ харих замд чинь ганган гутал чинь тоосонд дарагдаад, гадсан өсгийт чинь шороонд шигдээд байвал чи явган хүний засмал замыг тавиулахад оролцох, нөлөөлөх хэрэгцээ байна гэсэн үг. 
      Улсын том төсвийг хэрхэн зарцуулах талаар бид шууд оролцох боломжгүй ч чиний амьдардаг дүүрэг, сум хороонд хуваарилагдсан төсвийг зарцуулах, хянах бүрэн эрхтэй.
      Чи 18 насанд хүрсэн, Монгол улсын иргэний үнэмлэхтэй бол нийгэм болон өөрийн амьдралд тулгамддаг асуудлыг шийдвэрлэх боломж, гарц гарт чинь байна гэсэн үг. Залуучуудын бүлэг, клуб, хамт олноороо санал бодлоо илэрхийлэн өөрийн амьдарч буй орон нутагтаа өөрчлөлт хийх боломж залуу хүн таньд бий шүү. Залуучуудын оролцсон төсөвлөлт инновацийг бий болгоно.</p>
    <p class="w3-justify" style="margin-top: 30px;">Ирээдүйд идэвхтэй оролцоотой залуу хүн болох 2 алхам бий. Хичээгээрэй. Чамд амжилт хүсье.</p>
    </div>

</body>

</html>