
<!DOCTYPE html>
<html lang="en">

<head>
  <title>W3.CSS Template</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta property="og:title" content="Чи ямар сонгогч вэ ?">
  <meta property="og:description" content="Хэрсүү сонгогч">
  <meta property="og:image" content="http://103.119.92.91:3050/hersuu1.png">
  <meta property="og:url" content="103.119.92.94">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      /* background-color: #6d5ca8; */
    }

    .mySlides {
      display: none
    }

    #clip {
      /* clip: rect(0, 40px, 100%, 0); */
      clip-path: inset(30px 27px 89px 27px);
      /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    }
  </style>
</head>

<body>
  <div class="w3-center" style="min-width: 380px;">
    <img src="http://103.119.92.91:3050/hersuu1.png"
    style="max-width: 3800px;min-width: 380px; width: 40%;">
  </div>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px; "id="band">
    <h3 class="w3-wide">“Хэрсүү сонгогч”</h3>
    <p class="w3-justify">Улсын маань ирээдүй таны гарт, таниас эхэлнэ гэдгийг та бүр мөсөн ухамрсарласан сонгогч. Бусдын улс төрийн үзэл бодол, байр суурийг хүндэтгэдэг. Саналаа өгөхийн үнэ цэнийг ойлгодог. Та нэр дэвшигчийн мөрийн хөтөлбөр, ажлын туршлага, хувь хүний зам мөр, үнэт зүйлийг нь харгалзан сонголтоо хийдэг та бол тун яггүй сонгогч. Тань шиг сонгогч олон байх нь чухал учраас  сорилын үр дүнгээ олон нийтийн сүлжээнд хуваалцан залуусыг сонгуульд саналаа өгөхийг уриалаарай.</p>
    <!-- <p class="w3-justify" style="margin-top: 30px;">Ирээдүйд идэвхтэй, оролцоотой залуу хүн болох 7 алхам бий. Хичээгээрэй.  Амжилт хүсье найз минь. Оролцоо сайт оройд нь гэдэг шүү. </p>
    </div> -->

</body>

</html>