.Partners {
  width: 24%;
  margin: 5px;
  float: left;
  border: 1px solid #cecece;
  background-color: #fff;
  padding: 15px;
  height: 300px;
  text-align: center;
}

.Partners:hover {
  cursor: pointer;
}

.Partners img {
  width: 100%;
  height: 200px;
}

.PartnersText {
  font-weight: bold;
  margin: 15px auto;
}

@media (max-width: 500px) {
  .Partners {
    width: 100%;
    margin: 15px 0;
  }
}
