.youthPublicationDetailSection {
    display: flex;
    padding: 15px 0;
  }
  
  .youthPublicationDetailContainer {
    display: table;
    margin: 0 15px;
    width: 70%;
  }
  
  .youthPublicationDetailImg {
    width: 100%;
    margin: 0;
  }
  .youthPublicationDetailTitle {
    margin: 15px 0 15px 0;
    text-align: center;
  }
  .youthPublicationDetailText {
    text-align: center;
    padding: 15px;
  }
  
  .socialContainer {
    width: 30%;
  }
  
  @media (max-width: 500px) {
    .newsDetailContainer {
      margin: 0 15px;
      width: 100%;
    }
    .socialContainer {
      display: none;
    }
  }
  @media (max-width: 650px) {
    .newsDetailContainer {
      margin: 0 15px;
      width: 100%;
    }
    .socialContainer {
      display: none;
    }
  }